= form_for @presentation do |f|
  = f.hidden_field :time_slot_id
  = f.hidden_field :room_id
  .horizontal
    = f.label :title
    = f.text_field :title, :autofocus=>"true"
  .horizontal
    = f.label :presenter
    = f.text_field :presenter
  .horizontal
    = f.label :contact
    = f.text_field :contact
  .horizontal
    = f.label :description
    = f.text_area(:description, :rows=>4)
  .horizontal
    = f.label :format
    = f.text_field :format
  %p
    = f.submit
    =link_to "Cancel", event_event_date_url(@event_date.event, @event_date)