%style{:type=>"text/css"}
  = @event.stylesheet
.event_block
  - unless @event.image_url.blank?
    =link_to image_tag(@event.image_url, :class=>'logo'), @event.site_url
  .event_name= @event.name
.title= @presentation.title
.field
  %label Speaker:
  .data= @presentation.presenter
.field
  %label Contact Info:
  .data= @presentation.contact
.field
  %label Description: 
  .data= @presentation.description
.field
  %label Format:
  .data= @presentation.format
.field
  %label Room:
  .data= @presentation.room.name
.field
  %label Time:
  .data
    = @event_date.event_date
    = @presentation.time_slot.start_time.strftime("%I:%M %p")
