= form_for @time_slot do |f|
  = f.hidden_field :event_date_id
  .horizontal
    = f.label :start_time
    = f.text_field :formatted_start_time, :autofocus=>"true"

  .horizontal
    = f.label :duration
    = f.text_field :duration

  = f.submit @time_slot.id ? "Update" : "Create"
  =link_to "Cancel", event_event_date_url(@event_date.event, @event_date)
