#new_event
  %h2 Edit Event
  = form_for @event, :url => { :action => :update } do |f|
    %p 
      = f.label :name
      %br/
      = f.text_field :name
    %p
      = f.label :description
      %br/
      = f.text_field :description
    %p
      = f.label :site_url
      %br/  
      = f.text_field :site_url
    %p
      = f.label :image_url
      %br/
      = f.text_field :image_url
    %p 
      = f.submit "Update"
      = link_to "Cancel", root_path
  %p Administrators
  = form_for @new_admin, :remote => true do |f|
    = f.hidden_field :event_id
    = f.hidden_field :role_type
    = text_field :user, :email
    = f.submit "Add Admin"
  #admins= render :partial=>'admins'
  = link_to "Done", root_path
