= render :partial=>column_headings
- @event_date.rooms.each_with_index do |room|
  %tr
    %td= "#{room.name} (#{room.location})"
    - @event_date.time_slots.each_with_index do |time_slot|
      - @time_slot_id = time_slot.id
      - @room_id = room.id
      - @presentation = @grid[@time_slot_id, @room_id]
      = yield