- title @event.name
- content_for :header_bottom do
  :javascript
    $(document).ready(function(){
      $( "#event_date_event_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
      $( "#date_selector" ).change(function() {
        document.location.href = "#{event_path(@event)}/event_dates/" + this.value;
      });
    });

.right_controls
  - if @event_date
    %select{ :id => 'date_selector' }
      = options_from_collection_for_select @event.event_dates, 'id', 'event_date', @event_date.id
  - if @event.admin?(current_user)
    - if @event_date
      = link_to "delete date", event_event_date_path(@event, @event_date), :method => :delete, :confirm => "Are you sure?"
    = form_for [@event, @event.event_dates.build] do |f|
      = f.text_field :event_date, :size=>10
      = f.submit "Add date"
%h1
  %img.logo_thumb{:src => @event.image_url}/
  = @event.name

- if @event.admin?(current_user)
  = link_to "new room", new_room_path({:event_date_id=>@event_date.id}), :remote=>true
  = link_to "new time", new_time_slot_path({:event_date_id=>@event_date.id}), :remote=>true
%table.schedule
  = render :layout=>rotation_rows do
    %td
      - if !@presentation.nil? and @presentation.respond_to? :title
        %strong= link_to @presentation.title, presentation_path(@presentation)
        %br
        = linkify @presentation.presenter
      - else
        &nbsp;