%style{:type=>"text/css"}
  = @event.stylesheet
- title @event.name

.event_block
  - unless @event.image_url.blank?
    .logo= link_to image_tag(@event.image_url), @event.site_url
  .event_name= @event.name
  - if @event_date
    - if @event.event_dates.size > 1
      %select{ :id => 'date_selector' }
        = options_from_collection_for_select @event.event_dates, 'id', 'event_date', @event_date.id
    - else
      = @event_date.event_date
  = link_to "rotate table", event_event_date_rotate_path(), :remote => true
  - if @event.admin?(current_user)
    - if @event_date
      = link_to "delete date", event_event_date_path(@event, @event_date), :method => :delete, :confirm => "Are you sure?"
    = form_for [@event, @event.event_dates.build] do |f|
      = f.text_field :event_date, :size=>10, :class=>'datepicker'
      = f.submit "Add date"
    .buttons
      %span.button= link_to image_tag("icons/settings.png"), edit_event_path(@event), :remote => true


- if @event_date
  - if @event.admin?(current_user)
    = link_to "new room", new_room_path({:event_date_id=>@event_date.id}), :remote=>true
    = link_to "new time", new_time_slot_path({:event_date_id=>@event_date.id}), :remote=>true
  %table{ :class=>[:schedule, rotation_rows, @event.admin?(current_user)]}
    = render :layout=>rotation_rows do
      %td
        .presentation{ :id => [@time_slot_id, @room_id], :class => ['draggable', 'droppable', @event.admin?(current_user) ] }
          =render :partial=>'presentation'