= form_for @room do |f|
  = f.hidden_field :event_date_id
  %p= f.label :name
  %br
  = f.text_field :name

  %p= f.label :location
  %br
  = f.text_field :location

  %p= f.label :capacity
  %br
  = f.text_field :capacity, :size=>10

  = f.submit @room.id ? "Update" : "Create"

