!!!
%html
  %head
    %title 
      Unscheduler : 
      = yield(:title) || "The BarCamp/Unconference Scheduler"
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #user_nav.right_controls
      - if user_signed_in?
        = current_user.email
        = link_to "Sign out", destroy_user_session_path
      - else
        = link_to "Sign in/Sign up", new_user_session_path, :remote => true
    #header
      %h1 UnScheduler
      The BarCamp/unconference scheduler
    %p.notice= notice
    %p.alert= alert
    #sidebar_area
      %p
        %a{:href=>"mailto:support@unscheduler.com"} Contact Us
      = yield(:sidebar)
      %p 
        This site is powered by open source software. Learn more 
        %a{:href=>"http://github.com/carlism/unscheduler"} where we maintain the code
    #content_area
      = yield
    #user_session
    #fade.black_overlay
